@import "core/settings";
@import "components/page";
@import "core/header";
@import "core/footer";

// Borrar estilos a partir de aquí

header {
  border: 5px solid slateblue;
}

section {
  border: 5px solid red;
}

aside {
  border: 5px solid greenyellow;
}

footer {
  border: 5px solid fuchsia;
}
