<footer>
  <div class="footer-arrow-container">
    <div class="footer-arrow-content">
      <a class="footer-arrow" href="#header" alt="Go back to Header"><img src="./assets/images/ico-arrow.svg" alt="Go back to Header" title="Go back to Header"/></a>
    </div>
  </div>
  <div class="footer-content">
    <div class="footer-copy">
      <span>
        ©2017
      </span>
      <span
        >we
        <small class="heart">&#10084;</small>
        components</span
      >
    </div>
    <div class="footer-navs">
      <nav class="articles">
        <ul>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Articles</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Books</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Events</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Reasons</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Tips</a>
          </li>
        </ul>
      </nav>
      <nav class="social">
        <ul>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Twitter</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Instagram</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Go to Adalab" title="Go to Adalab" style="text-decoration: none; color: white;">Mastodon.social</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
