<footer>
  <!-- FLECHA ARRIBA - IMAGEN CENTRADA Y TRASLADADA -->
  <a href=""></a>
  <!-- NAVEGADORES FOOTER. Para que el copyright quede a la izquierda en mobile, meterle un flex-direction:column reverse 
  A los navegadores se les deja caer, deberían posicionarse solos en mobile.
  En tablet, se ponen ambos divs en row-->
  <div>
    <small>
      ©2017
    </small>
    <small>we ❤︎ components</small>
  </div>
  <div>
    <nav class="articles">
      <ul>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Articles
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Books
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Events
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Reasons
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Tips
          </a>
        </li>
      </ul>
    </nav>
    <nav class="social">
      <ul>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Twitter
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Instagram
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            alt="Link to Adalab"
            title="Link to Adalab"
            >Mastodon.social
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
