<footer>
  <!-- FLECHA ARRIBA - IMAGEN CENTRADA Y TRASLADADA -->
  <div class="footer-arrow-container">
    <div class="footer-arrow-content">
      <a class="footer-arrow" href="#hero"><img src="../images/ico-arrow.svg" alt=""/></a>
    </div>
  </div>
  <!-- NAVEGADORES FOOTER. Para que el copyright quede a la izquierda en mobile, meterle un flex-direction:column reverse 
  A los navegadores se les deja caer, deberían posicionarse solos en mobile.
  En tablet, se ponen ambos divs en row-->
  <div class="footer-content">
    <div class="footer-copy">
      <span>
        ©2017
      </span>
      <span
        >we
        <small class="heart">&#10084;</small>
        components</span
      >
    </div>
    <div class="footer-navs">
      <nav class="articles">
        <ul>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Articles</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Books</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Events</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Reasons</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Tips</a>
          </li>
        </ul>
      </nav>
      <nav class="social">
        <ul>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Twitter</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Instagram</a>
          </li>
          <li style="list-style-type: none;">
            <a href="https://adalab.es/" alt="Link to Adalab" title="Link to Adalab" style="text-decoration: none; color: white;">Mastodon.social</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
