<header>
  <a name="header" id="header"></a>
  <div class="header-menu-container">
    <div>
      <a class="header-menu" href="https://adalab.es/" target="_blank" alt="Go to Adalab Home" title="Go to Adalab Home"><img src="./assets/images/ico-menu.svg" alt="Menu" title="Menu-Go to Adalab Home"/></a>
    </div>
  </div>
  <div>
    <div class="header-contain">
      <h1 class="header-title"><span>Anonymous</span> <span>proxy</span></h1>
      <p class="header-text">In hac habitasse platea dictumst.</p>
      <a class="header-arrow" href="#article" alt="Go to '3 Reasons To Purchase'">
        <img src="./assets/images/ico-scroll-down.svg" alt="Go to '3 Reasons To Purchase'" title="Go to '3 Reasons To Purchase'" />
      </a>
    </div>
  </div>
</header>
