<header>
  <a name="hero" id="hero"></a>
  <div class="header-menu-container">
    <!-- ICONO DE HAMBURGUESA -->
    <div id="menu" class="header-menu-content">
      <a href="https://adalab.es/" target="_blank"><img src="./assets/images/ico-menu.svg" alt="Menu"/></a>
    </div>
  </div>
  <div class="header-container">
    <div class="header-contain">
      <h1 class="header-title"><span>Anonymous</span> <span>Proxy</span></h1>
      <p class="header-text">In hac habitasse platea dictumst.</p>
      <!-- ICONO DE LA FLECHA -->
      <a class="header-arrow" href="#article">
        <img src="./assets/images/ico-scroll-down.svg" alt="Flecha hacia '3 Reasons To Purchase'" />
      </a>
    </div>
  </div>
</header>
