*,
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

// SECTION

.section-container {
  height: 360px;
}

// ASIDE

.aside-container {
  display: grid;
  width: 100vw;
  height: 427px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.item1 {
  grid-column: span 3;
  grid-row: span 3;
  background-color: fuchsia;
  align-self: center;
  text-align: center;
}

.item2 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: coral;
  text-align: center;
}
.item3 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: greenyellow;
  text-align: center;
}
.item4 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: yellow;
  text-align: center;
}

.item5 {
  grid-column: span 3;
  grid-row: span 3;
  background-color: fuchsia;
  text-align: center;
  align-self: center;
}

// FOOTER
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-navs {
  display: flex;
  flex-direction: row;
}

.footer-copy {
  display: flex;
  flex-direction: column;
}

.footer-arrow-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.footer-arrow-content {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transform: translateY(-55%);
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}
