*,
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

// HEADER STILOS DE CAJAS (SOLO CAJAS, NADA DE BONITECES

.header-container {
  height: 100vh;
}

.header-menu {
  display: flex;
  position: fixed;
  background: fuchsia;
}
.header-contain {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: flex-end;
}
.header-button {
  background-color: orange;
}

// SECTION
