// ASIDE

.aside-container {
  display: grid;
  background-color: $colorTerciary;
  width: 100vw;
  height: 427px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.aside-title {
  color: black;
  font-size: 32px;
}

.aside-subtitle {
  color: black;
  font-size: 24px;
}

.aside-text {
  color: black;
  font-size: 20px;
}
.item1 {
  grid-column: span 3;
  grid-row: span 3;
  align-self: center;
  text-align: center;
  justify-content: center;
}

.item2 {
  grid-column: span 1;
  grid-row: span 2;
  text-align: center;
}
.item3 {
  grid-column: span 1;
  grid-row: span 2;
  text-align: center;
}
.item4 {
  grid-column: span 1;
  grid-row: span 2;
  text-align: center;
}

.item5 {
  grid-column: 2 / 3;
  grid-row: span 3;
  width: 255px;
  height: 45px;
  background: $colorButtons;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  border-radius: 22.5px;
}

.aside-button-container {
  text-align: center;
  vertical-align: text-bottom;
}
