.header {
  &-contain {
    color: $colorWhite;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../images/cover.jpg) 50% no-repeat;
    background-size: cover;
    text-align: center;
  }
  &-title {
    width: 730px;
    line-height: 1.32;
    font-size: 100px;
    font-family: "Roboto Slab", Bold;
    text-transform: uppercase;
  }
  &-text {
    width: 730px;
    line-height: normal;
    font-size: 24px;
    margin-bottom: 30px;
    font-family: "Roboto";
  }
  &-menu-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background: $colorSecondary;
  }
  &-arrow {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 13px;
  }
}
