// FONTS
$fontPrimary: "Roboto Slab";
$fontSecondary: "Roboto";

// COLORS PALETTE
$colorWhite: #ffffff;
$colorPrimary: #304268;
$colorSecondary: #0271bc;
$colorTerciary: #eff9ff;
$colorButtons: #f26002;
